<nav class="fixed w-full z-20 left-0 border-gray-900 dark:border-gray-800">
  <div class="w-screen-2xl  flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="  ">
      <div class="  scroll-hide">
        <a href="/" class=" ">

            <img src="assets/img/home/logo1.webP" class=" sm:h-32 sm:w-32 lg:h-16 lg:w-16">
          
        </a>
      </div>
    </div>

    <button (click)="toggleMenu()" type="button" class="animated-button inline-flex items-center xl:mt-3 md:mt-0 2xl:mr-0 xl:mr-0 text-sm  rounded-lg ">
      <span class="not-sr-only"></span>
      <svg class="text-black fill-current  sm:h-32 sm:w-32 lg:h-16 lg:w-16 " viewBox="-3.6 -3.6 31.20 31.20" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)">
        <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)">
          <rect x="-3.6" y="-3.6" width="31.20" height="31.20" rx="15.6" fill="#f5f5f5" strokewidth="0"></rect>
        </g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.192"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M4 17H8M12 17H20M4 12H20M4 7H12M16 7H20" stroke="#000000" stroke-width="1.248" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
      </svg>
    </button>
    
  </div>
</nav>


  <router-outlet class=""> </router-outlet>
  <app-footer></app-footer>

  <!-- Menú desplegado -->
  <div *ngIf="menuAbierto" class="custom-menu " #menuContainer>
    <button (click)="closeMenu()" type="button" class="close-button h-10 w-10  xl:m-2 m-0">
      <svg class="text-black fill-current md:h-4 md:w-4 xl:w-8 xl:h-8 2xl:h-10 2xl:w-10" version="1.1" id="Capa_1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="-46.08 -46.08 552.93 552.93" xml:space="preserve" stroke="none"
        transform="matrix(1, 0, 0, -1, 0, 0)rotate(0)">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55 c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55 c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505 c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55 l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719 c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z">
          </path>
        </g>
      </svg>
    </button>







    <ul class="md:space-y-4 ">
      <li>
        <a href="/" class="md:text-md xl:text-sm sm:text-xs text-md 2xl:text-lg text-gray-900">Home</a>
      </li>
      <li>
        <a href="/società" class="md:text-md sm:text-xs text-md xl:text-sm 2xl:text-lg text-gray-900">Società</a>
      </li>
      <li>
        <a href="/contatti" class="md:text-md text-md xl:text-sm  sm:text-xs 2xl:text-lg text-gray-900">Contatti</a>
      </li>
      <li *ngFor="let links of serviziList" class="md:text-md text-md  sm:text-xs 2xl:text-lg xl:text-sm text-gray-900  ">
        <a [routerLink]="['/servizi', links.id]">{{links.name}}</a>
      </li>



    </ul>
    <div class="flex h-max xl:space-x-12 space-x-8">
      <img src="http://wp.steaprogetto.com/wp-content/uploads/stea_logo-w.png" alt=""
        class="2xl:h-16 2xl:w-16 h-10 w-10 xl:h-12 xl:w-12">
      <div class="flex flex-col">

        <h1 class="2xl:text-xl space-x-2">Stea Progetto</h1>
        <p class="text-xs">whatever i just doing the duty of model the information</p>
      </div>
    </div>

    

  </div>



  