button.scroll-to-top-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 8px;
    border: none;
    color: #fffff3;
    border-radius: 4px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  button.scroll-to-top-button.visible {
    opacity: 1;
 
  }
  